node_modules
dist
.git
.gitignore
npm-debug.log
Dockerfile
docker-compose.yaml
.env
uploads
ai_server/Bird-Detection-main/__pycache__/
ai_server/Bird-Detection-main/test/
ai_server/Bird-Detection-main/venv/
**/*.pyc
