<main class="main">
    <div class="content">
        <p class="title">Register</p>
        <p class="subtitle">Register a new account</p>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            @if (registerError()) {
                <mat-error>Wrong Password or Email</mat-error>
            }
            
            <mat-form-field appearance="outline" hideRequiredMarker="true">
                <mat-label>Email Address</mat-label>
                <input
                    matInput
                    formControlName="email"
                    [errorStateMatcher]="matcher"
                    placeholder="Insert email"
                    required
                />

                @if (email()?.hasError('email') && !email()?.hasError('required')) {
                    <mat-error>Please enter a valid email address</mat-error>
                } @if (email()?.hasError('required')) {
                    <mat-error>Email is required</mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline" hideRequiredMarker="true">
                <mat-label>Password</mat-label>
                <input matInput [type]="hidePassword() ? 'password' : 'text'" formControlName="password"
                    [errorStateMatcher]="matcher" placeholder="Insert password" required/>
                
                <button
                    matIconButton
                    matSuffix
                    (click)="clickEvent($event, hidePassword)"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidePassword()"
                    type="button"
                >
                    <mat-icon>{{
                        hidePassword() ? "visibility_off" : "visibility"
                    }}</mat-icon>
                </button>

                @if (password()?.hasError('required')) {
                    <mat-error>Password is required</mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline" hideRequiredMarker="true">
                <mat-label>Confirm Password</mat-label>
                <input matInput [type]="hideConfirmPassword() ? 'password' : 'text'" formControlName="confirmPassword"
                    [errorStateMatcher]="matcher" placeholder="Insert password" required/>
                
                <button
                    matIconButton
                    matSuffix
                    (click)="clickEvent($event, hideConfirmPassword)"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hideConfirmPassword()"
                    type="button"
                >
                    <mat-icon>{{
                        hideConfirmPassword() ? "visibility_off" : "visibility"
                    }}</mat-icon>
                </button>

                @if (confirmPassword()?.hasError('required')) {
                    <mat-error>Confirming password is required</mat-error>
                }
            </mat-form-field>

            <mat-error>
                @if (password()?.value! !== confirmPassword()?.value!) {
                    Passwords do not match
                }
            </mat-error>

            <span>
                <a matButton="text" type="button" routerLink="/login">Login</a>
                <button matButton="filled" type="submit">Register</button>
            </span>

        </form>
    </div>
</main>