<main class="main">
    <div class="content">
        <p class="title">Log In</p>
        <p class="subtitle">Log in to your account</p>
        
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            @if (loginError()) {
            <mat-error>Wrong Password or Email</mat-error>
            }
            <mat-form-field appearance="outline" hideRequiredMarker="true">
            <mat-label>Email Address</mat-label>
            <input
                matInput
                formControlName="email"
                [errorStateMatcher]="matcher"
                placeholder="Insert email"
                required
            />
            @if (email()?.hasError('email') &&
            !email()?.hasError('required')) {
            <mat-error>Please enter a valid email address</mat-error>
            } @if (email()?.hasError('required')) {
            <mat-error>Email is required</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline" hideRequiredMarker="true">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password"
                [errorStateMatcher]="matcher" placeholder="Insert password" required/>
            <button
                matIconButton
                matSuffix
                (click)="clickEvent($event)"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide()"
                type="button"
            >
                <mat-icon>{{
                    hide() ? "visibility_off" : "visibility"
                }}</mat-icon>
            </button>
            @if (password()?.hasError('required')) {
            <mat-error>Password is required</mat-error>
            }
        </mat-form-field>

        <span>
            <a matButton="text" type="button" routerLink="/register">Register</a>
            <button matButton="filled" type="submit">Login</button>
        </span>

        
        </form>
    </div>
</main>
